.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.div_addnew{
  background: #ffffff;
}

.div_addnew h1{
    text-align: left;
}

.div_addnew form{
    text-align: left;
}

.div_addnew p{
    text-align: left;
    font-weight: bold;
}

.div_addnew .cancel_button{
    background: lightgray;
    color: black;
}

.div_addnew .complete_button{
    background: lightgray;
    color: black;
    margin-left: 30px;
}

.div_addnew .TaskAndButton{
    display: flex;
    align-items: center;
}
.div_addnew .Task{

}




.div_addnew .delete_button{
    background: darkred;
}

.elements_container{
    padding: 10px;
}

.div_addnew form input{
    padding: 10px;
    width: 97%;
    border: 0px;
    border-bottom: 1px solid #000000;
}

.div_addnew form Button{
    margin-top: 15px;
    margin-left: 10px;
    background: dodgerblue;
}

.div_todoItems{
    margin-top: 10px;
}

.div_todoItems Button{
    margin-right: 20px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
